@import "tailwindcss";

/* ===== Base ===== */
@layer base {
  /* ===== Fonts ===== */
  @font-face {
    font-family: "IranYekan";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/IRANYekanWebRegular.woff2") format("woff2");
  }
  @font-face {
    font-family: "IranYekan";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/IRANYekanWebBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "IranYekan";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/IRANYekanWebBlack.woff2") format("woff2");
  }
  button:not(:disabled) {
    cursor: pointer;
  }
}

/* ===== Theme Configs ===== */
@theme {
  /* ===== Font Family =====*/
  --font-IranYekan: "IranYekan", "Arial";

  /* ===== Colors =====*/
  --color-primary-900: rgb(74, 109, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(110, 138, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-success: rgb(0, 192, 11);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
}

/* ===== Components ===== */
@layer components {
  .textField--input {
    @apply w-full px-4 py-3 rounded-xl bg-secondary-0 text-secondary-900 outline-none border-2 border-gray-300 focus:border-primary-500 transition-all focus:shadow-md focus:shadow-primary-100;
  }
  .btn {
    @apply px-4 py-2 text-center font-bold rounded-xl cursor-pointer transition-all;
  }
  .btn--primary {
    @apply bg-primary-900 text-secondary-0 shadow-md shadow-primary-300 hover:bg-primary-800;
  }
  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100;
  }
  .btn--outline {
    @apply border border-secondary-700 text-secondary-700;
  }
  .btn--danger {
    @apply border border-rose-700 text-rose-700;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }
  .badge--primary {
    @apply bg-primary-900 text-secondary-0;
  }
  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }
  .badge--success {
    @apply bg-green-500 text-secondary-0;
  }
  .badge--danger {
    @apply bg-red-500 text-secondary-0;
  }
  .loader {
    @apply size-6! border-primary-50! border-r-primary-500!;
  }
}

/* ===== Utilities ===== */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  @apply font-IranYekan min-h-dvh bg-secondary-0;
}
